@import url(variables.scss);

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button($bg-color, $text-color, $padding: 10px 20px) {
    background-color: $bg-color;
    color: $text-color;
    padding: $padding;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: $border-radius;
}