@import url(variables.scss);

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button($bg-color, $text-color, $padding: 0.625rem 1.25rem) {
    background-color: $bg-color;
    color: $text-color;
    padding: $padding;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: $border-radius;
}

@mixin mobile-device {
    @media (min-width: $mobile-width) and (max-width: $tablet-width){
      @content
    }
  };
  
  @mixin tablet-device {
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      @content
    }
  };
  
  @mixin desktop-device {
    @media (min-width: $desktop-width) {
      @content
    }
  }

  @mixin footer-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 0rem;
    text-align: center;
    padding-bottom: 1.5rem;
  }
  


