@import url(variables.scss);
@import url(mixins.scss);
.common-button {
  background-color: #fff;
  color: #333333;
  padding: 0.625rem 1.25rem;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.313rem;
  font-weight: 400;
  display: inline-block;
}

.common-text {
  font-size: 1.125rem;
  margin-left: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #87DE87;
  padding: 1.25rem;
  max-width: 120rem;
  height: 3.8125rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.header__logo {
  padding: 1.5rem 0 2.172rem 6.75rem;
  width: 7.5rem;
  height: 3.25rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.875rem;
  padding: 3.75rem;
}

nav ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  font-size: 1.125rem;
}

.nav__button {
  background-color: #fff;
  max-width: 8rem;
  max-height: 2.5rem;
  padding: 0.625rem;
  color: #333333;
  font-weight: 700;
  font-size: 1.125rem;
}

.hamburger {
  display: none;
  flex-direction: column;
  background-color: #fff;
  cursor: pointer;
}

.hamburger span {
  height: 0.188rem;
  width: 1.563rem;
  background-color: #333;
  color: #333;
  margin: 0.25rem;
}

@media (max-width: 768px) {
  header {
    max-width: 48rem;
  }
  .header__logo {
    min-width: 9.275rem;
    min-height: 4rem;
    padding-left: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .nav-links {
    display: none;
    position: absolute;
    top: 3.75rem;
    left: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    text-align: left;
    padding: 1.875rem;
    font-size: 1.5rem;
  }
  .nav-links li {
    margin: 0.625rem 0;
    font-size: 1.5rem;
  }
  .nav__button {
    background-color: #87DE87;
  }
  .hamburger {
    font-size: 1.5rem;
    display: flex;
  }
  .nav-links.active {
    font-size: 1.5rem;
    display: flex;
  }
}
.hero {
  background-image: url("..//media/hero_windmills.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  max-width: 120rem;
  min-height: 40rem;
  margin: 0 auto;
}

.hero__title {
  max-width: 39.188rem;
  min-height: 14.25rem;
  background-color: #87DE87;
  margin-left: 12.25rem;
}

.hero__container {
  background-color: #333333;
  color: #fff;
  max-width: 37.188rem;
  min-height: 14.25rem;
  padding-left: 1.5rem;
  padding-right: 1.188rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.313rem;
  margin-left: 2rem;
}

.hero__h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .hero {
    min-width: 23.438rem;
    min-height: 28.938rem;
    display: block;
  }
  .hero__title {
    max-width: 23.438rem;
    min-height: 17.827rem;
    background-color: #87DE87;
    display: block;
  }
  .hero__container {
    font-size: 1rem;
  }
  .hero__h1 {
    font-size: 2.25rem;
  }
}
.cards__section {
  text-align: center;
  background-color: #fff;
  max-width: 1920px;
  padding: 100px;
}

.cards__section h2 {
  color: #333333;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 56.35px;
}

.cards__section .cards__container {
  display: flex;
  justify-content: space-between;
}

.card__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
}

.cards__section .cards__container .card__article {
  background-color: #333333;
  text-align: left;
  color: #fff;
  padding: 35px;
  margin: 32px 8px;
  box-shadow: 2px 4px #d6d3d3;
}

.card__article {
  max-width: 552px;
  max-height: 348px;
}

.cards__section .cards__container .card__div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.cards__section .cards__container .card__icon {
  background-color: #87DE87;
  min-width: 119.57px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 20px;
}

.card__icon img {
  min-width: 80px;
  min-height: 80px;
}

.cards__section .cards__container .card__icon img {
  width: 60%;
  height: auto;
}

.cards__section .cards__container .card__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards__section .cards__container .card__title {
  font-size: 24px;
  font-weight: 600;
  color: #fefefe;
  margin: 10px 2px;
}

.cards__section .cards__container .card__subtitle {
  font-size: 24px;
  color: #fefefe;
  margin: 0;
}

.card__subtitle {
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.761rem;
}

@media (max-width: 768px) {
  .cards__section {
    display: block;
    text-align: center;
    max-width: 768px;
    padding: 50px;
  }
  .cards__section h2 {
    font-size: 2.25rem;
    text-align: center;
  }
  .cards__section .cards__container {
    display: block;
    justify-content: space-between;
  }
  .card__article {
    max-width: 19.5rem;
    max-height: 28.625rem;
  }
}
.about-section {
  background-color: #333333;
  color: #fefefe;
  margin: 0 auto;
  padding-bottom: 6rem;
}

.about-section__item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1.875rem;
}

.second__subsection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3.5rem;
}

.about-section h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  text-align: center;
  padding: 4rem 0px 7.313rem 0px;
}

.about-section .item__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 0.625rem;
}

.about-section .item-text__layout {
  margin-right: 6.25rem;
  padding-bottom: 7.5rem;
}

.item-text__layout {
  min-width: 43.5rem;
  min-height: 27.188rem;
  padding-left: 15.75rem;
  padding-right: 10.5rem;
  text-align: left;
  font-size: 1.125rem;
  font-weight: 400;
}

.item-text__layout h3 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.641rem;
  text-align: left;
  margin-bottom: 1.25rem;
}

.item-text__layout p {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.321rem;
}

.second__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 43.5rem;
  min-height: 27.188rem;
  padding: 3.125rem;
  margin-right: 6.75rem;
}

.second__subtext {
  min-width: 43.5rem;
  min-height: 27.188rem;
  margin-left: 15.25rem;
}

.second__text h3 {
  text-align: left;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.641rem;
  margin-bottom: 1.25rem;
}

.second__text p {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.321rem;
}

.main__slika1 {
  background-color: #87DE87;
  min-width: 43.5rem;
  min-height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  margin-right: 6.75rem;
}

.main__slika2 {
  background-color: #87DE87;
  min-width: 43.5rem;
  min-height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  margin-top: 1.875rem;
  margin-left: 6.75rem;
}

.image__windmill {
  background-image: url("../media/subsection1.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: auto;
  min-width: 41.5rem;
  min-height: 30rem;
  padding-right: 0;
}

.image__solar {
  background-image: url("../media/subsection2.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  min-width: 41.5rem;
  min-height: 30rem;
  padding: 0;
}

.learn__more {
  display: flex;
  justify-content: center;
}
.learn__more button {
  align-items: center;
  background-color: #87DE87;
  color: #333333;
  font-size: 1.1rem;
  line-height: 1.321rem;
  width: 16.5rem;
  height: 4.5rem;
  text-align: center;
  border-radius: 0.75rem;
  border: none;
  font-weight: 700;
}

@media (max-width: 768px) {
  .about-section {
    padding-bottom: 3rem;
  }
  .about-section h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 2rem 0px 4rem 0px;
  }
  .about-section__item,
  .second__subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  .item__text, .second__text {
    width: 100%;
    padding: 1rem;
    margin: 0;
  }
  .item-text__layout,
  .second__subtext {
    min-width: auto;
    padding: 0 1.5rem;
    text-align: center;
    font-size: 1rem;
    text-wrap: wrap;
  }
  .item-text__layout h3, .second__text h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  .item-text__layout p, .second__text p {
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: center;
  }
  .main__slika1,
  .main__slika2 {
    min-width: 100%;
    min-height: 200px;
    margin: 1rem 0;
  }
  .image__windmill,
  .image__solar {
    min-width: 100%;
    min-height: 200px;
    background-size: cover;
  }
  .learn__more {
    visibility: hidden;
    clear: both;
    display: none;
  }
  .learn__more button {
    visibility: hidden;
    clear: both;
    display: none;
  }
}
.contact__section {
  background-color: #fff;
  padding: 7.5rem 0px 7.5rem 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
}

.contact__section h2 {
  margin-bottom: 1.25rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.522rem;
}

.contact__section p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.761rem;
  max-width: 52.5rem;
  max-height: 3.852rem;
}

.contact__form {
  position: relative;
  min-width: 43.5rem;
  min-height: 4rem;
  top: 4.375rem;
}

.contact__form input {
  font-style: italic;
  min-width: 43.5rem;
  min-height: 4rem;
  padding-right: 6.875rem;
  padding-left: 1.25rem;
  border: 0.063rem solid #ccc;
  border-radius: 0.75rem;
  box-sizing: border-box;
  box-shadow: 0 0 0.313rem rgba(0, 0, 0, 0.1);
}

.contact__form button {
  background-color: #87DE87;
  min-width: 7.5rem;
  min-height: 3rem;
  position: absolute;
  top: 50%;
  right: 0.313rem;
  transform: translateY(-50%);
  height: 60%;
  padding: 0 1.125rem;
  border: none;
  border-radius: 0.75rem;
  color: #333333;
  font-weight: 700;
  font-size: 1.5rem;
  box-shadow: 0 0 0.313rem rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .contact__section {
    max-width: 48rem;
  }
  .contact__section h2 {
    font-size: 2.25rem;
  }
  .contact__section p {
    font-size: 1rem;
  }
  .contact__form {
    min-width: 19.5rem;
    min-height: 3rem;
  }
  .contact__form input {
    min-width: 19.5rem;
    min-height: 3rem;
  }
  .contact__form button {
    font-size: 1.125rem;
    min-width: 6.375rem;
  }
}
.footer__section {
  background-color: #87DE87;
  color: #333333;
  max-width: 120rem;
  max-height: 29.5rem;
  position: relative;
}

.logo__footer {
  top: 3rem;
  padding: 6.75rem;
  max-width: 13.938rem;
  max-height: 6.011rem;
  padding-bottom: 1.489rem;
  padding-top: 3rem;
}

.logo__footer img {
  width: 13.938rem;
  height: 6.011rem;
}

.info__section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin: 0 auto;
  padding: 0rem;
}

.info__name {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 6.75rem;
  margin-bottom: 6rem;
  margin-right: 0rem;
}

.info__name h3 {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  line-height: 1.761rem;
}

.info__name p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.321rem;
}

.adresa {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
  font-style: normal;
  gap: 0.625rem;
}

.kontakt {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
  font-style: normal;
  gap: 0.625rem;
}

.info__section .info__name address {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
  font-style: normal;
  gap: 0.625rem;
}

.links__section {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  padding-left: 3.125rem;
}

.links__section .company__section .products__section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.company__section {
  padding-right: 12.5rem;
}

.links__section p {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.321rem;
  margin-bottom: 0.625rem;
}

.links__section .products__links,
.links__section .company__links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 0;
  gap: 0.625rem;
}

.links__section .products__heading {
  font-weight: 600;
  font-size: 1.125rem;
}

.links__section .products__links a {
  text-decoration: none;
  color: #333333;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.321rem;
}

.links__section .company__heading {
  font-weight: 600;
  font-size: 1.125rem;
}

.links__section .company__links a {
  text-decoration: none;
  color: #333333;
  font-weight: 400;
  font-size: 1.125rem;
}

.follow__section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-right: 15.75rem;
}

.follow__section p {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.321rem;
}

.media__section {
  display: flex;
  flex-direction: row;
  margin-top: 0.625rem;
  justify-content: space-around;
}

.media__section a {
  margin-right: 1.875rem;
}

.media__section a:hover {
  background-color: green;
}

.bottom__footer {
  position: absolute;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
}

.left__footer {
  padding-left: 6.75rem;
}

.right__footer {
  padding-right: 6.75rem;
}

.bottom__footer a {
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.321rem;
  padding-inline: 2.25rem;
}

.bottom__footer p {
  color: #fff;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.321rem;
}

.social-icon {
  min-width: 3rem;
  min-height: 3rem;
  background-color: #333333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon.facebook {
  background-image: url("..//../media/facebook1.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon.twitter {
  background-image: url("..//../media/twitter1.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon.linkedin {
  background-image: url("..//../media/linkedin1.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon.youtube {
  background-image: url("..//..//media/youtube1.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .footer__section {
    min-width: 23.438rem;
    min-height: 52.188rem;
  }
  .info__section {
    display: block;
  }
  .info__name {
    display: block;
  }
  .follow__section {
    display: block;
    padding: 1rem;
  }
  .follow__section p {
    text-align: center;
  }
  .company__section {
    display: block;
    text-align: center;
  }
  .company__heading {
    margin-left: 8rem;
  }
  .company__links {
    text-align: center;
    display: block;
    padding: 0.5rem;
    margin-left: 8rem;
  }
  .links__section {
    display: block;
    text-align: center;
    padding: 0.3rem;
  }
  .products__section {
    display: block;
    text-align: center;
  }
  .products__heading {
    margin-left: 5.5rem;
  }
  .products__links {
    text-align: center;
    display: block;
    padding: 0.5rem;
    margin-left: 8rem;
  }
  .products__links a {
    text-align: center;
  }
  .kontakt {
    display: block;
  }
  .adresa {
    display: block;
  }
  .bottom__footer {
    min-width: 23.438rem;
    min-height: 5.375rem;
  }
  .right__footer {
    display: block;
    text-align: center;
  }
  .left__footer {
    display: block;
    text-align: center;
  }
}
.conteiner_slike {
  max-width: 120rem;
  max-height: 37.5rem;
  background-color: #fff;
  padding: 7.5rem 0px 7.5rem 0px;
}

.container_slike h2 {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.522rem;
  padding: 6.5rem 0px 6.5rem 0px;
}

.glide__slide img {
  height: 20.063rem;
  width: 34.5rem;
}

@media (max-width: 768px) {
  .container_slike {
    max-width: 48rem;
  }
}/*# sourceMappingURL=main.css.map */