@import url(variables.scss);
@import url(mixins.scss);
.common-button {
  background-color: #fff;
  color: #333333;
  padding: 0.625rem 1.25rem;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.313rem;
  font-weight: 400;
  display: inline-block;
}

.common-text {
  font-size: 1.125rem;
  margin-left: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #87DE87;
  padding: 1.25rem;
  max-width: 120rem;
  height: 3.8125rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.header__logo {
  padding: 1.5rem 0 2.172rem 6.75rem;
  width: 7.5rem;
  height: 3.25rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.875rem;
  padding: 3.75rem;
}

nav ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  font-size: 1.125rem;
}

.nav__button {
  background-color: #fff;
  max-width: 8rem;
  max-height: 2.5rem;
  padding: 0.625rem;
  color: #333333;
  font-weight: 700;
  font-size: 1.125rem;
}

.hamburger {
  display: none;
  flex-direction: column;
  background-color: #fff;
  cursor: pointer;
}

.hamburger span {
  height: 0.188rem;
  width: 1.563rem;
  background-color: #333;
  color: #333;
  margin: 0.25rem;
}

.nav__button-close {
  display: none;
}

@media (max-width: 768px) {
  header {
    max-width: 48rem;
  }
  .header__logo {
    min-width: 9.275rem;
    min-height: 4rem;
    padding-left: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .nav-links {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 87.5%;
    height: 100%;
    padding: 1.875rem;
    background-color: #fff;
    flex-direction: column;
    text-align: left;
    font-size: 1.5rem;
  }
  .nav-links .nav__button {
    position: absolute;
    background-color: #87DE87;
    bottom: 10rem;
  }
  .nav-links .nav__button-close {
    display: block;
    align-self: end;
    background: none;
    border: none;
    padding: 1.1rem 2rem 0 0;
    cursor: pointer;
  }
  .nav-links li {
    margin: 0.625rem 0;
    font-size: 1.5rem;
  }
  .hamburger {
    font-size: 1.5rem;
    display: flex;
  }
  .nav-links.active {
    font-size: 1.5rem;
    display: flex;
  }
}
.hero__desktop {
  background-image: url("..//media/hero_windmills.png");
  max-width: 120rem;
  height: 40rem;
  box-shadow: inset 0px 0px 24px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}
@media (min-width: 375px) and (max-width: 768px) {
  .hero__desktop {
    display: none;
  }
}

.hero {
  position: absolute;
  margin-left: 12.25rem;
  margin-top: 12.875rem;
  display: grid;
  grid-template-columns: 2rem 37.188rem;
  width: 39.188rem;
  max-width: 39.188rem;
  height: 14.25rem;
}
.hero__container {
  background-color: #87DE87;
  width: 2rem;
}
.hero__text {
  background-color: #333333;
  width: 37.188rem;
  max-width: 37.188rem;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.313rem;
}
.hero__text h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.hero__text p {
  margin-left: 2rem;
  margin-right: 1.188rem;
}

.mobile-hero {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin: 0 auto;
  padding-bottom: 1.5rem;
  background: #87DE87;
}
@media (min-width: 1024px) {
  .mobile-hero {
    display: none;
  }
}
.mobile-hero__container {
  padding-bottom: 1.0769rem;
  background: #87DE87;
  min-width: 23.438rem;
  min-height: 14.75rem;
}
.mobile-hero__img {
  margin-bottom: -0.313rem;
}
.mobile-hero__img img {
  max-height: 28.938rem;
  width: 96.5vw;
}
.mobile-hero .container__text {
  background: #444;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2rem 2rem 0 2rem;
}
.mobile-hero .container__text h1 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.625rem;
  padding-bottom: 0.8rem;
}
.mobile-hero .container__text p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 2rem;
}

.cards {
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 375px) and (max-width: 768px) {
  .cards {
    display: flex;
    flex-flow: column nowrap;
  }
}
.cards__title {
  flex: 1;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.522rem;
  text-align: center;
  margin: 7.5rem 0 5.375rem 0;
}
@media (min-width: 375px) and (max-width: 768px) {
  .cards__title {
    padding-bottom: 0.875rem;
    margin: 0 auto;
    padding: 2.9813rem 0 0rem 0;
  }
}
.cards__container {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 1.5rem;
  margin-bottom: 7.5rem;
}

.card {
  width: 34.5rem;
  height: 21.75rem;
  background-color: #333333;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 2rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
    margin-top: 5.5rem;
    width: 19.5rem;
    height: 28.625rem;
  }
}
.card__icon {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  background: #87DE87;
  margin: 0px 0px 1.063rem 2rem;
  position: relative;
}
@media (min-width: 375px) and (max-width: 768px) {
  .card__icon {
    position: absolute;
    margin: -5.7rem 0rem 32.5rem 0.75rem;
  }
}
.card__icon img {
  width: 4.375rem;
  padding-left: 1.563rem;
  padding-top: 1.563rem;
}
.card__titles {
  line-height: 1.761rem;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
@media (min-width: 375px) and (max-width: 768px) {
  .card__titles {
    margin-top: 2.5rem;
    align-items: center;
  }
}
.card__titles h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}
.card__titles h4 {
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 0;
}
.card__text {
  grid-column: 1/4;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.321rem;
  margin: 0 2.125rem 2rem 2rem;
  width: 30.375rem;
  height: 9.188rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .card__text {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 17.5rem;
    padding-top: 2rem;
  }
}

.about-section {
  background-color: #333333;
  color: #fff;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 375px) and (max-width: 768px) {
  .about-section {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
.about-section__title {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.522rem;
  margin-top: 4rem;
  margin-bottom: 7.313rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .about-section__title {
    font-size: 2.25rem;
    line-height: 2.625rem;
    margin-bottom: 4rem;
  }
}
.about-section__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
@media (min-width: 375px) and (max-width: 768px) {
  .about-section__container {
    gap: 1.8125rem 0;
    padding-bottom: 0rem;
    margin: 0 auto;
  }
}
.about-section__button {
  padding-bottom: 8rem;
  text-align: center;
}
@media (min-width: 375px) and (max-width: 768px) {
  .about-section__button {
    display: none;
  }
}

.learn__more {
  background: #87DE87;
  color: #333333;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.313rem;
  text-align: center;
  border-radius: 0.75rem;
  border: none;
  width: 16.5rem;
  height: 4.5rem;
}

.article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 8rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .article {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 5rem;
  }
}
.article__text {
  max-width: 43.5rem;
  max-height: 27.188rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .article__text {
    margin: 0 auto;
    max-width: 19.5rem;
    max-height: 53.5rem;
  }
}
.article__text h3 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: flex-start;
  margin-top: 0;
  padding-top: 0;
}
@media (min-width: 375px) and (max-width: 768px) {
  .article__text h3 {
    font-size: 1.5rem;
    line-height: 1.76rem;
    text-align: center;
    padding-top: 1.8125rem;
  }
}
.article__text p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.321rem;
  text-align: left;
}
.article__image {
  max-width: 43.5rem;
  max-height: 30rem;
  background-color: #87DE87;
}
.article__image img {
  max-width: 41.5rem;
  max-height: 30rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .article__image {
    max-width: 100%;
    max-height: 23.5rem;
  }
  .article__image img {
    max-width: 100%;
    max-height: 21.5rem;
  }
}
.article .first-text {
  padding-left: 6.75rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .article .first-text {
    padding-left: 0rem;
    order: 1;
  }
}
.article .second-text {
  padding-right: 6.75rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .article .second-text {
    padding-right: 0rem;
    order: 3;
  }
}
.article .first-image {
  max-width: 41.5rem;
  padding-right: 2rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .article .first-image {
    padding-right: 0rem;
    padding-bottom: 1rem;
    width: 100%;
  }
}
.article .second-image {
  max-width: 43.5rem;
  padding-left: 2rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .article .second-image {
    padding-left: 0rem;
    padding-bottom: 1rem;
    width: 100%;
  }
}

.contact__section {
  background-color: #fff;
  padding: 7.5rem 0rem 7.5rem 0rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
}

.contact__section h2 {
  margin-bottom: 1.25rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.522rem;
}

.contact__section p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.761rem;
  max-width: 52.5rem;
  max-height: 3.852rem;
}

.contact__form {
  position: relative;
  min-width: 43.5rem;
  min-height: 4rem;
  top: 4.375rem;
}

.contact__form input {
  font-style: italic;
  min-width: 43.5rem;
  min-height: 4rem;
  padding-right: 6.875rem;
  padding-left: 1.25rem;
  border: 0.063rem solid #ccc;
  border-radius: 0.75rem;
  box-sizing: border-box;
  box-shadow: 0 0 0.313rem rgba(0, 0, 0, 0.1);
}

.contact__form button {
  background-color: #87DE87;
  min-width: 7.5rem;
  min-height: 3rem;
  position: absolute;
  top: 50%;
  right: 0.313rem;
  transform: translateY(-50%);
  height: 60%;
  padding: 0 1.125rem;
  border: none;
  border-radius: 0.75rem;
  color: #333333;
  font-weight: 700;
  font-size: 1.5rem;
  box-shadow: 0 0 0.313rem rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .contact__section {
    max-width: 48rem;
    padding-top: 2rem;
  }
  .contact__section h2 {
    font-size: 2.25rem;
  }
  .contact__section p {
    font-size: 1rem;
  }
  .contact__form {
    min-width: 19.5rem;
    min-height: 3rem;
  }
  .contact__form input {
    min-width: 19.5rem;
    min-height: 3rem;
  }
  .contact__form button {
    font-size: 1.125rem;
    min-width: 6.375rem;
  }
}
.footer {
  background-color: #87DE87;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.313rem;
  padding-bottom: 3rem;
  color: #333333;
}
@media (min-width: 1024px) {
  .footer {
    max-width: 120rem;
    max-height: 26.5rem;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .footer {
    display: flex;
    flex-flow: column nowrap;
  }
}
.footer__logo {
  padding-top: 3rem;
  margin-left: 6.75rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .footer__logo {
    display: flex;
    justify-content: center;
    margin-left: 0rem;
    padding-top: 0rem;
  }
}
.footer__logo img {
  width: 13.938rem;
  height: 6.011rem;
}
.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (min-width: 375px) and (max-width: 768px) {
  .footer__container {
    display: flex;
    flex-flow: column nowrap;
  }
}
.footer__container .footer__container-info {
  display: flex;
  flex-flow: column wrap;
  padding-left: 6.75rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .footer__container .footer__container-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 0rem;
    text-align: center;
    padding-bottom: 1.5rem;
  }
}
.footer__container .footer__container-info h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.761rem;
  margin-bottom: 0;
}
.footer__container .footer__container-products {
  display: flex;
  flex-flow: column wrap;
}
@media (min-width: 375px) and (max-width: 768px) {
  .footer__container .footer__container-products {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 0rem;
    text-align: center;
    padding-bottom: 1.5rem;
  }
}
.footer__container .footer__container-products a {
  margin-bottom: 0.625rem;
}
.footer__container .footer__container-company {
  display: flex;
  flex-flow: column wrap;
}
@media (min-width: 375px) and (max-width: 768px) {
  .footer__container .footer__container-company {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 0rem;
    text-align: center;
    padding-bottom: 1.5rem;
  }
}
.footer__container .footer__container-company a {
  margin-bottom: 0.625rem;
}
.footer__container .footer__container-company h3 {
  font-weight: 600;
}

.follow__section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-right: 15.75rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .follow__section {
    display: block;
    padding: 1rem;
  }
}

.follow__section h3 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.321rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .follow__section h3 {
    text-align: center;
  }
}

.media__section {
  display: flex;
  flex-direction: row;
  margin-top: 0.625rem;
  justify-content: space-around;
}
@media (min-width: 375px) and (max-width: 768px) {
  .media__section {
    display: flex;
    flex-direction: row;
    margin-top: 0.625rem;
    justify-content: center;
    gap: 1.5rem;
  }
}

.media__section a {
  margin-right: 1.875rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .media__section a {
    margin-right: 0px;
  }
}

.media__section a:hover {
  background-color: green;
}

.bottom__footer {
  position: absolute;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
}

.left__footer {
  padding-left: 6.75rem;
}

.right__footer {
  padding-right: 6.75rem;
}

.bottom__footer a {
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.321rem;
  padding-inline: 2.25rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .bottom__footer a {
    padding-inline: 0.5rem;
  }
}

.bottom__footer p {
  color: #fff;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.321rem;
}

.social-icon {
  min-width: 3rem;
  min-height: 3rem;
  background-color: #333333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon.facebook {
  background-image: url("..//../media/facebook1.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon.twitter {
  background-image: url("..//../media/twitter1.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon.linkedin {
  background-image: url("..//../media/linkedin1.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon.youtube {
  background-image: url("..//..//media/youtube1.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.bottom__footer {
  background-color: #333333;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.313rem;
}
@media (min-width: 1024px) {
  .bottom__footer {
    max-width: 120rem;
    height: 3rem;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .bottom__footer {
    display: flex;
    flex-flow: column-reverse nowrap;
  }
}
.bottom__footer .bottom__footer__left {
  padding-top: 0.813rem;
  margin-left: 6.75rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .bottom__footer .bottom__footer__left {
    display: flex;
    margin-left: 0rem;
    padding-top: 0rem;
    justify-content: center;
  }
}
.bottom__footer .bottom__footer__right {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  -moz-column-gap: 2.25rem;
       column-gap: 2.25rem;
  margin-right: 6.75rem;
  padding-top: 0.813rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .bottom__footer .bottom__footer__right {
    margin-right: 0rem;
    padding-top: 0rem;
    -moz-column-gap: 0rem;
         column-gap: 0rem;
    padding-right: 1rem;
  }
}

.glide-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #333333;
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 6.375rem;
}
@media (min-width: 375px) and (max-width: 768px) {
  .glide-container {
    padding-top: 2rem;
  }
}
.glide-container h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: center;
  padding-bottom: 2.875rem;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .glide-container h2 {
    font-size: 3rem;
  }
}
.glide-container button {
  border-radius: 50%;
  background: #87DE87;
  border: none;
  width: 6.25rem;
  height: 6.25rem;
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}
@media (min-width: 375px) and (max-width: 768px) {
  .glide-container button {
    background: #fff;
  }
}

.glide {
  max-height: 640px;
  max-width: 120rem;
}
.glide__slides {
  height: 19.5rem;
}
.glide__slides .glide__slide {
  height: 19.5rem;
}
.glide__slides .glide__slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.glide__slides img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.glide .glide__arrows {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.displayOff {
  display: none;
}/*# sourceMappingURL=main.css.map */