.footer__section {
    background-color: $primary-color;
    color: $grey;
    max-width: 120rem;
    max-height: 29.5rem;
    position: relative;
}

.logo__footer {
    
    top: 3rem;
    padding: 6.75rem;
    max-width: 13.938rem;
    max-height: 6.011rem;
    padding-bottom: 1.489rem;
    padding-top: 3rem;

}

.logo__footer img {
    width: 13.938rem;
    height: 6.011rem;
}

.info__section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 0 auto;
    padding: 0rem;
}

.info__name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 6.75rem;
    margin-bottom: 6rem;
    margin-right: 0rem;
}

.info__name h3 {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    line-height: 1.761rem;
}

.info__name p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.321rem;
}

.adresa {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-decoration: none;
    font-style: normal;
    gap: 0.625rem;
}
.kontakt{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-decoration: none;
    font-style: normal;
    gap: 0.625rem;
}

.info__section .info__name address {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-decoration: none;
    font-style: normal;
    gap: 0.625rem;
}

.links__section {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    padding-left: 3.125rem;
}

.links__section .company__section .products__section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.company__section {
    padding-right: 12.5rem;
}

.links__section p {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.321rem;
    margin-bottom: 0.625rem;
}

.links__section .products__links,
.links__section .company__links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 0;
    gap: 0.625rem;
  }

  .links__section .products__heading {
    font-weight: 600;
    font-size: 1.125rem;
  }

.links__section .products__links a {
    text-decoration: none;
    color: $grey;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.321rem;
}

.links__section .company__heading {
    font-weight: 600;
    font-size: 1.125rem;
}

.links__section .company__links a {
    text-decoration: none;
    color: $grey;
    font-weight: 400;
    font-size: 1.125rem;
}

.follow__section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-right: 15.75rem;
}
.follow__section p {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.321rem;
}

.media__section {
    display: flex;
    flex-direction: row;
    margin-top: 0.625rem;
    justify-content: space-around;
}

.media__section a {
    margin-right: 1.875rem;
    
}
.media__section a:hover {
    background-color: green;
  }

.bottom__footer {
    position: absolute;
    background-color: $grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
}

.left__footer {

    padding-left: 6.75rem;
}

.right__footer {
    padding-right: 6.75rem;
}

.bottom__footer a {
    color: $white;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.321rem;
    padding-inline: 2.25rem;
}

.bottom__footer p {
    color: $white;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.321rem;
}
.social-icon {
    min-width: 3rem;
    min-height: 3rem;
    background-color: $grey; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.social-icon.facebook {
    background-image: url('..//../media/facebook1.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .social-icon.twitter {
    background-image: url('..//../media/twitter1.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .social-icon.linkedin {
    background-image: url('..//../media/linkedin1.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .social-icon.youtube {
    background-image: url('..//..//media/youtube1.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: 768px) {
    .footer__section {
        min-width: 23.438rem;
        min-height: 52.188rem;
    }

    .info__section {
        display: block;
    }

    .info__name {
        display: block;
    }
    
    .follow__section {
        display: block;
        padding: 1rem;
    }

    .follow__section p {
        text-align: center;
    }

    .company__section {
        display: block;
        text-align: center;
    }

    .company__heading {
        margin-left: 8rem;
    }

    .company__links {
        text-align: center;
        display: block;
        padding: 0.5rem;
        margin-left: 8rem;
    }

    .links__section {
        display: block;
        text-align: center;
        padding: 0.3rem;
    }

    .products__section {
        display: block;
        text-align: center;
    }

    .products__heading {
        margin-left: 5.5rem;
    }

    .products__links {
        text-align: center;
        display: block;
        padding: 0.5rem;
        margin-left: 8rem;
    }

    .products__links a {
        text-align: center;
    }

    .kontakt {
        display: block;
    }

    .adresa {
        display: block;
    }

    .bottom__footer {
        min-width: 23.438rem;
        min-height: 5.375rem;
    }

    .right__footer {
        display: block;
        text-align: center;
    }

    .left__footer {
        display: block;
        text-align: center;
    }

  }