.hero {
    background-image: url('..//media/hero_windmills.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    max-width: 120rem;
    min-height: 40rem;
    margin: 0 auto;
}

.hero__title {
    max-width: 39.188rem;
    min-height: 14.25rem;
    background-color: $primary-color;
    margin-left: 12.25rem;
}

.hero__container {
    background-color: $grey;
    color: $white;
    max-width: 37.188rem;
    min-height: 14.25rem;
    padding-left: 1.5rem;
    padding-right: 1.188rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.313rem;
    margin-left: 2rem;

}


.hero__h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}


@media (max-width: 768px) {
    .hero {
        min-width: 23.438rem;
        min-height: 28.938rem;
        display: block;
    }

    .hero__title {
        max-width: 23.438rem;
        min-height: 17.827rem;
        background-color: $primary-color;
        display: block;
    }

    .hero__container {
        font-size: 1rem;
    }

    .hero__h1 {
        font-size: 2.25rem;
    }
}
