.main__section {
    background-color: $grey;
    color: #fefefe;
    padding: 64px;
    max-width: 1920px;
    max-height: 1589px;
}

.main__subsection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
}

.second__subsection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 200px;
}

.main__section h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 80px;
    line-height: 56.35px;
    min-width: 840px;
    min-height: 56px;
    text-align: center;
}

.main__section .main__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 10px;
}

.main__section .main__subtext {
    margin-right: 100px;
    padding-bottom: 120px;
}

.main__subtext {
    min-width: 696px;
    min-height: 435px;
    padding-left: 252px;
    padding-right: 168px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}

.main__subtext h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 42.26px;
    text-align: left;
    margin-bottom: 20px;
}

.main__subtext p {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
}

.second__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 696px;
    max-height: 435px;
    padding: 50px;
    margin-right: 108px;
}

.second__subtext {
    min-width: 696px;
    min-height: 435px;
    margin-left: 100px;
    padding-bottom: 60px;
}

 .second__text h3 {
    text-align: left;
    font-size: 36px;
    font-weight: 600;
    line-height: 42.26px;
    margin-bottom: 20px;
}

 .second__text p {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;

}

 .main__slika1 {
    background-color: $primary-color;
    min-width: 696px;
    min-height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; 
    margin-right: 108px;  
}

.main__slika2 {
    background-color: $primary-color;
    min-width: 696px;
    min-height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;   
    margin-top: 30px;
    margin-left: 108px;
}

.image__windmill {
    background-image: url("../media/subsection1.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: auto;  
    min-width: 664px;
    min-height: 480px;
    padding-right: 0;
}
 .image__solar {
    background-image: url("../media/subsection2.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;    
    min-width: 664px;
    min-height: 480px;
    padding: 0;
}

.learn__more {
    background-color: #87DE87;
    color: #333333;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    width: 264px;
    height: 72px;
    top: 2892px;
    left: 828px;
    gap: 0px;
    opacity: 0px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}